body {
    background-image: url(asset/item09.jpeg);
    background-size: cover;
}

/* body end */


.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/* input  */

.box-01 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 90%;
    height: auto;
    background-color: white;
}

/* box-01 end */

.batas {
    margin-top: 4%;
}

/* batas end */
.box-02 {
    background-color: black;
    color: white;
}

@media (max-width: 575.98px) {

    /* handphone css */
    .box-01 {
        width: auto;
    }

    .svg-image {
        width: 40px;
    }

    .hp-text {
        font-size: 27px;
    }

    /* akhir css */
}

/* Handphone */

@media (min-width: 1200px) {

    /* untuk PC css */
    .image-tengah {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .svg-image {
        width: 45px !important;
    }

    .text-pc {
        font-size: 60px !important;
    }

    /* image end */



    /* pc akhir */
}

/* Laptop */